<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>CRHONOS-API</title>
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center" valign="top" bgcolor="#838383"
            style="background: rgb(121,9,75); background: linear-gradient(32deg, rgba(121,9,75,0.9307073171065301) 27%, rgba(2,0,36,1) 65%);">
            <br> <br>
            <table width="600" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" valign="op" bgcolor="#385385"
                        style="border: 0px solid transparent;
border-radius: 38px;
background: linear-gradient(58deg, rgba(121,9,75,0.6225840678068102) 61%, rgba(2,0,36,1) 100%);
backgrily: Arial, Helvetica, sans-serif; font-size: 13px; color: #000000; padding: 0px 15px 10px 15px;">

                        <div style="font-size: 48px; color:white;">
                            <br>
                            <strong> Olá ${nome}!</strong>
                        </div>

                        <div style="font-size: 24px; color: white;">
                            <br>
                            <strong>Link para realizar a troca:</strong> <br> <br>
                            <strong>${link}</strong> <br> <br>
                            <strong>Aqui está seu token para acessar os recursos de troca de senha da DBC:</strong> <br> <br>
                            <strong>${token}</strong>

                        </div>
                        <div style="font-size: 24px; color:white;"><br><br><br>
                            <p style="font-size:18px;border: 5px solid transparent;
                                border-radius: 38px;background: rgb(121,9,75);
                                background: rgb(121,9,75);
                                background: linear-gradient(58deg, rgba(121,9,75,0.6225840678068102) 0%,
                                rgba(70,10,45,0.9251050762101716) 0%);">
                                Qualquer dúvida é só contatar o suporte pelo email
                                <br>
                                <strong>${emailSuporte}</strong>
                            </p>
                        </div>
                    </td>
                </tr>
            </table>
            <br> <br></td>
    </tr>
</table>
</body>
</html>